

@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');




/* variables */

:root {
  --primary-text: #111827;
  --secondary-text: #1f2937;
  --icon-color: #6b7280;
  --border: #d1d5db;
  --white: #ffffff;
  --primary: #4f46e5;
}

@font-face {
  font-family: SSS;
  src: url('blanco-regular.ttf');
}


/* font imports */

@font-face {
  font-family: 'Sohne';
  src: url('fonts/t/test-soehne-buch.woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Sohne';
  src: url('fonts/t/test-soehne-buch-kursiv.woff2');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Sohne';
  src: url('fonts/t/test-soehne-kraftig.woff2');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Sohne';
  src: url('fonts/t/test-soehne-kraftig-kursiv.woff2');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Sohne';
  src: url('fonts/t/test-soehne-halbfett.woff2');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Sohne';
  src: url('fonts/t/test-soehne-halbfett-kursiv.woff2');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'Sohne';
  src: url('fonts/t/test-soehne-dreiviertelfett.woff2');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Sohne';
  src: url('fonts/t/test-soehne-dreiviertelfett-kursiv.woff2');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Sohne';
  src: url('fonts/t/test-soehne-fett.woff2');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Sohne';
  src: url('fonts/t/test-soehne-fett-kursiv.woff2');
  font-weight: 800;
  font-style: italic;
}@font-face {
  font-family: 'Sohne';
  src: url('fonts/t/test-soehne-extrafett.woff2');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Sohne';
  src: url('fonts/t/test-soehne-extrafett-kursiv.woff2');
  font-weight: 900;
  font-style: italic;
}

/* default styles */

body {
  margin: 0px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-family: 'Sohne';
  overflow-x: hidden;
  background-color: var(--white);
}
.blur {
  opacity: 0.1;
}
a {
  text-decoration: none;
}
h2 {
  color: var(--primary-text);
  font-weight: 600;
}
.whwh {
  width: 24px;
  height: 24px;
}
.Divider {
  border-top: 1px solid var(--border);
}
/* blogpost styles */

.Blogpost-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 5vw;
  margin-top: 10vh;
}

.Content {
  width: 100%;
  max-width: 768px;
}
article pre {
  border-radius: 8px;
  margin-bottom: 30px;
}
article p {
  color: var(--secondary-text);
  font-family: SSS;
  font-size: 20px;
  line-height: 32px;
  font-weight: 400;
  margin-top: 7px;
  margin-bottom: 35px;
  letter-spacing: -0.1px;
}
article iframe {
  width: 100%;
}
article img {
  border-radius: 10px;
}

article hr {
  border: 1px solid var(--border);
}

article h1 {
  font-weight: 700;
  color: var(--primary-text);
  font-size: 32px;
  line-height: 40px;
  margin: 10px 0px;
  letter-spacing: -0.2px;
}
article h2 {
  font-weight: 700;
  color: var(--primary-text);
  font-size: 27px;
  line-height: 35px;
  margin: 10px 0px;
  letter-spacing: -0.2px;
}
article h3 {
  font-weight: 700;
  color: var(--primary-text);
  font-size: 24px;
  line-height: 32px;
  margin: 10px 0px;
}
article h4 {
  font-weight: 700;
  color: var(--primary-text);
  font-size: 22px;
  line-height: 30px;
  margin: 10px 0px;
}
article ul li {
  font-size: 19px;
  color: var(--secondary-text);
  line-height: 32px;
}
article ol li {
  font-size: 19px;
  color: var(--secondary-text);
  line-height: 32px;
}

.title {
  font-weight: 700;
  color: var(--primary-text);
  font-size: 32px;
  line-height: 40px;
  margin-top: 0px;
  margin-bottom: 7px;
  letter-spacing: -0.2px;
}
.Short {
  font-weight: 400;
  margin-bottom: 32px;
  font-size: 22px;
  line-height: 30px;
  color: var(--secondary-text);
}
.Blogpost a {
  color: var(--primary);
}
.Icons {
  padding: 20px;
}
.Content img {
  border-radius: 10px;
  width: 100%;
}
.Icon {
  color: var(--icon-color);
  border-radius: 90%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.Icons .Icon {
  margin: 0px 5px;
  padding: 10px;
  margin: 30px 15px;
}
.i1 , .i2 , .i3 , .i4 {
  transition: 0.3s;
}
 .i1:hover {
  color: #dc2626;
  background-color: #fee2e2;
}
.i2:hover {
  color: #7e22ce;
  background-color: #f3e8ff;
}
.i3:hover {
  color: #047857;
  background-color: #d1fae5;
}
.i4:hover {
  color: #a16207;
  background-color: #fef9c3;
}
.selected {
  filter: drop-shadow(0 0 8px #fca5a5);
}
.selected2 {
  filter: drop-shadow(0 0 8px #a7f3d0);
}


.Navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 8vw;
}

.Button {
  font-weight: 500;
  background-color: var(--primary-text);
  padding: 12px 25px;
  color: var(--white);
  letter-spacing: 0.7px;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Button:hover {
  opacity: 0.8;
}
.Search-bar {
  width: 30vw;
  border: 1px solid var(--border);
  height: 43px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  transition: 0.2s;
}
.Search-icon {
  color: var(--icon-color);
  padding: 0px 15px 0px 15px;
  display: flex;
  align-items: center;
}
.Search-bar input {
  flex: 1;
  height: 100%;
  border-radius: 30px;
  border: 0px;
  background-color: transparent;
  outline: none;
  color: var(--primary-text);
  padding: 0px 5px;
  font-family:inherit;
  font-size: 15px;
}
.Sidebar-Left {
  width: 15vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  border-right: 1px solid var(--border);
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.Login-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 1);
  backdrop-filter: blur(20px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}
.Login {
  width: 500px;
  height: 500px;
  background-color: #f8fafc;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.svg {
  position: absolute;
  top: 20px;
  right: 20px;
  color: var(--icon-color);
  cursor: pointer;
}
.Google , .Facebook {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--secondary-text);
  padding: 15px 10%;
  width: 50%;
  border: 1px solid var(--border);
  margin-bottom: 20px;
  border-radius: 8px;
  letter-spacing: 0.4px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s;
}
.Googlei , .Facebooki {
  display: flex;
  align-items: center;
  margin-top: 3px;
}
.Google:hover , .Facebook:hover {
  opacity: 0.8;
}
.user {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.Avatar img {
  width: 29px;
  height: 29px;
  border-radius: 90%;
}
.Comments {
  width: 80%;
  max-width: 400px;
  height: 100vh;
  background-color: #fff;
  padding: 0px 30px;
  position: fixed;
  top: 0;
  right: 0;
  border-left: 1px solid var(--border);
  overflow-y: auto;
}
.post-comment {
  padding: 15px;
  border: 1px solid var(--border);
  border-radius: 10px;
}
.wc-mid textarea {
  padding: 0px 10px;
  width: 90%;
  font-family: inherit;
  font-size: 15px;
  border: none;
  outline: none;
  color: var(--secondary-text);
  background-color: transparent;
}
.wc-bottom {
  display: flex;
  justify-content: flex-end;
}
.wc-button {
  color: var(--secondary-text);
  padding: 5px 10px;
}
.comment {
  padding: 20px 0px;
  border-bottom: 1px solid var(--border);
}
.c-top {
  display: flex;
  align-items: center;
}
.c-img img {
  width: 28px;
  height: 28px;
  border-radius: 90%;
}
.c-info {
  margin-left: 7px;
}
.c-username {
  font-size: 14px;
  color: var(--secondary-text);
  text-transform: capitalize;
}
.c-date {
  font-size: 12px;
  color: var(--icon-color);
  margin-top: 3px;
}
.c-mid {
  margin-top: 15px;
  font-size: 15px;
  line-height: 23px;
  color: var(--secondary-text);
}
.comment-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}
.cb-left {
  display: flex;
  gap: 18px;
}
.cb-icon {
  display: flex;
  align-items: center;
}
.cb-icon span svg {
  width: 20px;
  height: 20px;
  color: var(--icon-color);
}
.cb-icon span {
  font-size: 14px;
  color: var(--secondary-text);
  display: flex;
  align-items: center;
  letter-spacing: 0.3px;
}
.reply {
  font-size: 14px;
  color: var(--secondary-text);
}
.replies {
  margin: 15px 0 15px 15px;
  border-left: 3px solid var(--border);
  padding: 15px;
  border-radius: 5px;
}

.Home-Blogposts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding: 0px 8vw;
  margin-top: 10vh;
}

.HB-img img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
  transition: 0.5s;
}
.HB-info {
  margin-top: 10px;
}
.HB-name {
  color: var(--primary-text);
  font-weight: 600;
  font-size: 22px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.HB-description {
  color: var(--secondary-text);
  font-weight: 400;
  margin-top: 2px;
  font-size: 18px;
  opacity: 0.8;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media (max-width: 481px) {
  .title {
    font-size: 27px;
    line-height: 32px;
  }
  .Short {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 20px;
  }
  article p {
    font-size: 16px;
    line-height: 25px;
  }
  article h1 {
    font-size: 27px;
    line-height: 32px;
  }
  article h2 {
  font-size: 24px;
  line-height: 30px;
}
  .Search-bar {
    display: none;
  }
  .Sidebar-Left {
    width: 100%;
    background-color: #f8fafc;
    border-top: 1px solid var(--border);
    height: 8vh;
    top: 92vh;
    display: flex;
    justify-content: center;
  }
  .Icons {
    display: flex;
    justify-content: center;
  }
  .whwh {
    width: 20px;
    height: 20px;
  }
  .Home-Blogposts {
    grid-template-columns: repeat(1, 1fr);
    padding: 0px 4vw;
  }
  .HB-img img {
    height: auto;
  }
}