@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Literata:opsz@7..72&display=swap');




/* font imports */

@font-face {
  font-family: 'Sohne';
  src: url('fonts/t/test-soehne-buch.woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Sohne';
  src: url('fonts/t/test-soehne-buch-kursiv.woff2');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Sohne';
  src: url('fonts/t/test-soehne-kraftig.woff2');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Sohne';
  src: url('fonts/t/test-soehne-kraftig-kursiv.woff2');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Sohne';
  src: url('fonts/t/test-soehne-halbfett.woff2');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Sohne';
  src: url('fonts/t/test-soehne-halbfett-kursiv.woff2');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'Sohne';
  src: url('fonts/t/test-soehne-dreiviertelfett.woff2');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Sohne';
  src: url('fonts/t/test-soehne-dreiviertelfett-kursiv.woff2');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Sohne';
  src: url('fonts/t/test-soehne-fett.woff2');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Sohne';
  src: url('fonts/t/test-soehne-fett-kursiv.woff2');
  font-weight: 800;
  font-style: italic;
}@font-face {
  font-family: 'Sohne';
  src: url('fonts/t/test-soehne-extrafett.woff2');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Sohne';
  src: url('fonts/t/test-soehne-extrafett-kursiv.woff2');
  font-weight: 900;
  font-style: italic;
}

/* default styles */

body {
  margin: 0px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-family: 'Inter';
  overflow-x: hidden;
  box-sizing: border-box;
}





